@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Roboto:wght@100;400;700&display=swap');

/* ----------------------預設----------------------- */
*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 18px;
    background-color: #FFF4EA;
    text-decoration: none;
    min-width: 1200px;
}

/* main{
} */

h1{
    display: block;
    width: 40vw;
    padding-top:8vw ;
    padding-left: 13vw;
    z-index: 0  ;
}

h2{
   /* styleName: H2大標; */
   color: #567C92;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
}

h3{
    /* styleName: H3中標; */
    color: #567C92;
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

p{    /* //styleName: P內文; */
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    font-size: 15px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.big_price{
    /* //styleName: card價錢; */
    font-family: Amiri;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    
}

.big_price::before{
    /* //styleName: 小$; */
    content: '$';
    font-family: Amiri;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}


.a_btn{
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    color:#567C92;
    background-color: #F0D08E;
    font-weight: 400;
    line-height: 43px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 186px;
    height: 43px;
    margin: 10px 0;
    transition: 1s;
}

.a_btn:hover{
    transition: 1s;
    background-color: #567C92;
    color: #F0D08E;
}

/* --------------- shop ------------------ */


.shop_title{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_title h2{
    color: #567C92;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    margin: 0 2px;
}

.shop_title span{
    display: block;
    background-color: #567C92;
    width: 100px;
    height: 1px;
    margin: 0;
}

/* =====item bar===== */

.shop_bar{
    background-color: #FFF4EA;
    width: 100%;
    height: 60px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    position: sticky;
    top:150px;
    z-index: 1; 
    /* border: 1px solid #333; */
}

.tag{
    width: 500px;
    height: 50px;
    outline: 1px solid #b5b5b5;
    background-color: #fff;
    margin-top:1px ;
}

.item_tag{
    display: flex;
    
}

.tag span{
    color: #b5b5b5;
    line-height: 50px;
    margin: 0 5px;
}

.tagoff{
    border: 1px dotted #567C92;
    border-radius: 3px;
    line-height: 40px;
    margin: 4px 3px 4px;
    padding: 0 3px;
}

.tagon{
    border: 1px solid #567C92;
    background-color: #F5E4BF;
    border-radius: 3px;
    line-height: 40px;
    margin: 4px 3px 4px;
    padding: 0 3px;
}

/* .tag_kind{}

.tag_ear{}

.tag_comp{}

.tag_color{} */

.item_kind,.item_ear,.item_comp,.item_color{
    display: flex;
    width: 500px;
    height: 50px;
    outline: 1px solid #b5b5b5;
    background-color: #fff;
    z-index: 1;
}

.item_btn{
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    background-color: transparent;
}

.tag .item_btn:hover{
    background-color: #F5E4BF;
}

/* =====show tag===== */

.tag .click_off{
    display: none;
}

.tag:hover .click_off{
    display: flex;
}


/* =====排序===== */

.item_sort{
    display: flex;
    width: 350px;

}

.item_sort p{
    display: block;
    width: 80px;
    line-height: 50px;
    margin-left: 50px;
}

.item_sort>select{
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    width: 200px;
    height: 50px;
    font-size: 15px;
    text-indent: 5px;
    background-color: #fff;
    border: 1px solid #b5b5b5;
}

option{
    line-height: 50px;
}

/* =====商品清單===== */

.item_list{
    width: 1200px;
    margin: 20px auto;

    /* display: none; */
}

.item_list ul{
    display: flex;
    min-width: 1250px;
    flex-wrap: wrap;
    flex-direction: row;
}

.item_list ul li{
    width: 288px;
    height: 370px;
    background-color: #fff;
    outline: 1px solid #b5b5b5;
    margin: 10px;
    position: relative;
    overflow: hidden;
    
}

.item_list ul li:hover{
    box-shadow: 0 0 10px 5px #b5b5b5;
}

/* .item_card{} */

.item_img{
    display: block;
    width: 248px;
    height: 160px;
    margin: 20px;
    outline: 1px solid #b5b5b5;
    overflow: hidden;
    
}

.item_list ul li .item_img img{
    transition: .5s;
}
.item_list ul li:hover .item_img img{
    transform: scale(120%);
}

.item_info{
    margin: 0 20px;
}

.item_info p{
    color: #333;
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}


.item_info .card_price{
    /* //styleName: card價錢; */
    font-family: Amiri;
    font-size: 20px;
    font-weight: 400;
}

.item_info .card_price::before{
    content: '$';
    font-family: Amiri;
    font-size: 15px;
    font-weight: 400;
}


.item_info span{
/* //styleName: card P內文; */
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    line-height: 20px;
    color: #333;
    
}

/* 品名 */
.item_info .item_info_prd{
    font-weight: 700;
}

.item_list ul li:hover .item_info .item_info_prd{
    color: #567C92;
}

/* INFO 文字最後一行 */
.item_info span:last-child{
    display: block;
    margin-bottom: 20px;
}

/* 商品前兩行 */
.item_info span:nth-of-type(1),.item_info span:nth-of-type(2){
    display: inline-block;
    margin-bottom: 10px;
}


/* 加入最愛、購物車 */
.add_like,.add_cart{
    width: 144px;
    height: var(--add_height);
    background-color: #567C92;
    opacity: .7;
    margin: 0;
    position: absolute;
    transition: .5s;

    --add_height:50px;

}

.add_like:hover,.add_cart:hover{
    transition: .5s;
    opacity: .9;
}

.add_like{
    left: 0;
    bottom: 0;
}

.add_cart{
    right: 0;
    bottom: 0;
}

.add_like i,main .item_list .add_cart i{
    color:#F0D08E;
    font-size: 24px;
    display: block;
    text-align: center;
    width: 144px;
    line-height:var(--add_height) ;
}


/* =====shop 頁籤===== */
.page{
    margin: 0 auto;
}

.page ul{
    text-align: center;
    margin: 50px auto;
}

.page ul li{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #567C92;
    margin: 0 5px;
    transition: .5s;
}

.page ul li:hover{
    transition: .5s;
    background-color: #F0D08E;
}

.page p{
    font-family: Amiri;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    line-height: 36px;
}

.page .page_hear{
    background-color: #F0D08E;
}

.page .page_hear p{
    color: #567C92;
}

.page p:hover i{
    color: #567C92;
}

.page ul li:first-child p i{
    line-height: 1px;
    transform:  translateX(-10%) translateY(150%);
}

.page ul li:last-child p i{
    line-height: 1px;
    transform:  translateX(10%) translateY(150%);
}

/* --------------- shop end ---------------- */

/* scrollbar */
    /* width */
    .scro::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      .scro::-webkit-scrollbar-track {
        background: RGBA(255,255,255,.5); 
      }
       
      /* Handle */
      .scro::-webkit-scrollbar-thumb {
        background: #b5b5b5; 
        border-radius: 5px;
      }
      
      /* Handle on hover */
      .scro::-webkit-scrollbar-thumb:hover {
        background: RGBA(51,51,51,.5); 
      }
 /* scrollbar end */

 /* scrollbar */
    /* width */
    .scro2::-webkit-scrollbar {
        height: 5px;
      }
      
      /* Track */
      .scro2::-webkit-scrollbar-track {
        background: RGBA(255,255,255,.5); 
      }
       
      /* Handle */
      .scro2::-webkit-scrollbar-thumb {
        background: #b5b5b5; 
        border-radius: 5px;
      }
      
      /* Handle on hover */
      .scro2::-webkit-scrollbar-thumb:hover {
        background: RGBA(51,51,51,.5); 
      }
 /* scrollbar end */

/* -----------------product---------------- */

.bread p{
    color: #b5b5b5;
}

.bread a{
    color: #b5b5b5;
}

h4{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    margin-bottom: 20px;
}

.prd_price{
/* //styleName: 商品頁價錢1234 */
font-family: Amiri;
font-size: 36px;
font-weight: 400;
line-height: 30px;
}

.prd_price::before{
    content: '$';
    font-family: Amiri;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



.prd_del{
    opacity: .5;
}

.del{
    position: relative;
}

.del:after{
    content: '';
    display: block;
    background-color: #333;
    height: 1px;
    width: 100%;
    position: absolute;
    top:50%;
    right: 0;
}
/* ===== 商品top ===== */
main{
    width: 1200px;
    margin: 0 auto;
}

.bread{
    margin: 20px;
}

.prd_wrapper{
    display: flex;
}

/* ===== 圖片區 ===== */
figure{
    width: 40%;
    margin: 0 50px;
}

.prd_pic{
    /* border: 1px solid red; */
    width: 100%;
}

.prd_pic img{
    border: 1px solid #b5b5b5;
    max-width: 100%;
    max-height: 100%;
}
.prd_mpic{
    width: 100%;
}

.prd_la,.prd_ra{
    background-color: RGBA(255,255,255,0);
    width: 20px;
}

.prd_la:hover,.prd_ra:hover{
    background-color: RGBA(255,255,255,.4);
}

.prd_pic i{
    display: block;
    width: 20px;
    line-height: 80px;
    text-align: center;
}

.prd_otpic{
    display: flex;
    margin: 3px 0;
}

.prd_pic ul{
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.prd_otpic li{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 2px;
    flex-shrink: 0;
}



/* ===== 商品文字區 ===== */
.prd_info{
    width: 50%;
    /* border: 1px solid blue; */
    margin-right: 50px;
}

.prd__p{
    height: 165px;
    margin: 10px 0 20px;
    overflow: auto;
}
    
.oprice{
    display: inline-block;
    margin-right: 20px;
}

.price{
    display: inline-block;
}

.prd_stock{
    height: 30px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.prd_stock p{
    line-height: 30px;
    
}

.prd_stock_count{
    display: flex;
    max-width: 180px;
    align-items: center;
}

/* 商品頁輸入框 */
.prd_nub-input{
    background-color: transparent;
    border: 0px solid #333;   
    text-align: center;
    flex-grow: 0;
    flex-basis: 60px;
    width: 100%;
}

/* +-按鈕 */

.prd_count{
    background-color: RGBA(255,255,255,.5);
    border: 1px solid #333;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 10px;
    font-size: 5px;
    line-height: 26px;
    
}

.prd_count:hover{
    background-color: RGBA(51,51,51,.3);
}

.prd_count:active{
    transform: translateY(2px);
}

/* 商品數量 */
.prd_nub{
    /* //styleName: 商品頁數量1234 */
    font-family: Amiri;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.prd-btn{
    color: #567C92;
    background-color: #F0D08E;
    display: inline-block;
    width: 180px;
    line-height: 50px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    transition: .5s;
}

section a:nth-of-type(2){
    margin: 0 10px;
}
.prd-btn i{
    font-size: 18px;
    margin-right: 5px;
}

.prd-btn:hover,.prd-btn:hover{
    transition: .5s;
    background-color: #567C92;
    color: #F0D08E;
}



/* =====其他推薦===== */
.you_like{
    margin: 50px auto;
}

.other_prd{
    display: flex;
    align-items: center;
}

.other_la,.other_ra{
    background-color: #F0D08E;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
}

.other_la:hover,.other_ra:hover{
    background-color: #567C92;
}

.you_like i{
    display: block;
    width: 70px;
    line-height: 72px;
    font-size: 36px;
    color: #567C92;
    text-align: center;
}

.other_la:hover i,.other_ra:hover i{
    color: #F0D08E;
}

.other_prd ul{
    display: flex;
    width: 1000px;
    margin: 10px;
    overflow: auto;
}

.other_prd ul li{
    width: 290px;
    height: 290px;
    margin: 0 5px;
    border: 1px solid #b5b5b5;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.other_prd a{
    line-height: 0;
}

.other_prd img{
    max-width: 100%;
    max-height: 100%;
}



/* --------------product end--------------- */

/* ----------------custom------------------ */
/* =====文字===== */
.result-p{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    color: #567C92;
    font-size: 18px;
    margin: 10px;
}

.result-pp{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    color: #567C92;
    line-height: 22px;
    margin: 10px;
}

.hat-icon{
    background-image: url(../img/custom/hat_icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 18px;
    height: 14px;
    
}

.fa-sync-alt{
    color: #567C92;
    font-size: 50px;
}

.result-p i{
    margin-left: 10px;
}

.fa-gift{
    color: #567C92;
    font-size: 18px;
}

/* =====按鈕===== */

.hat_cus-btn,.box_cus-btn{
    display: inline-block;
    margin: 3px;
    border: 1px solid #567C92;
    border-radius: 3px;
    line-height: 40px;
    padding: 0 10px;
}

.hat_cus-btn:hover,.box_cus-btn:hover{
    background-color: #F5E4BF;
}

.cus-on{
    background-color: #F5E4BF;
}

.cus-off{
    background-color: #fff;
}

.cus-dis{
    background-color: #b5b5b5;
    cursor: not-allowed;
}

.cus-dis:hover{
    background-color: #b5b5b5;
}

.hat_cus .a_btn,.box_cus .a_btn{
    margin: 20px;
    width: 186px;
    height: 65px;
    line-height: 65px;
}

.hat_cus-fabric{
    margin: 0 5px;
    line-height: 0;
    font-size: 0;
    
}

.hat_cus-fabric img{
    border-radius: 50%;
    border:2px solid #567C92;
    background-color: #567C92;
    line-height: 0;
}

.hat_cus-fabric:hover img{
    border: 2px solid #F0D08E;
}

.fabric-sel{
    border-radius: 50%;
    box-shadow: 0 0 0px 4px #F0D08E;
}

.fabric-dis{
    border-radius: 50%;
    background-color: #b5b5b5;
    opacity: .5;
}

.fabric-dis img{
    border:2px solid #b5b5b5;
    background-color: #b5b5b5;
}

.fabric-dis:hover img{
    background-color: #b5b5b5;
    opacity: .5;
    cursor: not-allowed;
}

.box_area .cus_again, .hat_area .cus_again{
    background-color: #FFF;
    border:1px dotted #b5b5b5;
}

.box_area .cus_again:hover, .hat_area .cus_again:hover{
    background-color: #567C92;
}

/* =====區塊===== */

.hat_area,.box_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hat_pic,.box_pic{
    position: relative;
    width: 600px;
    line-height: 0;
}

.hat_pic i,.box_pic i{
    position: absolute;
    bottom: 8px;
    right: 4px;
}

.hat_pic i:hover,.box_pic i:hover{
    color: #F0D08E;
}

.result_pic{}

.result-pic{
    width: 200px;
    margin: 0 10px;
}

.hat_cus,.box_cus{
    width: 500px;
    margin-left: 30px; 
    padding: 10px;
    background-color: #fff;
}

.hat_area ul,.box_area ul{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

hr{
    border: 0;
    height: 1px;
    background-color: #567C92;
    margin: 10px;
}

.span_hr{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #567C92;
    margin: 30px 20%;
}

.hat_result,.box_result{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* box 產出 */
.re_price .big_price{
    font-size: 36px;
    color: #567C92;
   
}
.re_price .big_price::before{
    font-size: 18px;
    color: #567C92;
}

.re_price .result-p{
    margin: 0;
}

.re_price{}


/* 數量價錢區塊 */
.re_count{
    display: flex;
    align-items: center;
    margin: 10px;
}

/* 普通文字 */
.re_count .count-t{
    font-size: 18px;
    line-height: 36px;
    color: #567C92;
}

.re_count .prd_price{
    color: #567C92;
}

/* 輸入框 */
.re_count .prd_nub-input{
    flex-grow: 0;
    flex-basis: 60px;
    width: 100%;
}

.add_custom_nub{
    flex-grow: 0;
    
}

.re_stock-count{
    display: flex;
    align-items: center;
    max-width: 180px;
}

.box_result-fbox{
    display: flex;
    align-items: center;
}

.box_result-text{
    margin-left: 30px;
    padding-left: 10px;
    border-left: 1px solid #567C92;
    border-image: linear-gradient( RGBA(86,124,146,0) 0%,RGBA(86,124,146,0) 10%,RGBA(86,124,146,1) 11%,RGBA(86,124,146,1) 50%,RGBA(86,124,146,1) 90%,RGBA(86,124,146,0) 91%,RGBA(86,124,146,0) 100%) 1 stretch;
}

.cus_add_cart{
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.cus_add_cart .prd-btn{
    margin: 20px;
    width: 290px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
}

.cus_add_cart .prd-btn i{
    font-size: 24px;
}

.btn_none{
    display: none;
}



/* -----------------------custom end--------------------------- */

/* ------------------------ cart ------------------------- */

h5{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
}

/* =====svg===== */
.cart_process svg{
    width: 30px;

}

.point-on circle{
    fill:#F0D08E;
    stroke: #333;
}

.point-off circle{
    fill:#b5b5b5;
    stroke: #333;
}
/* =====svg end====== */

.cart_process{
    margin: 0 auto; 
}

.cart_process ul{
    display: flex;
    justify-content: center;
    position: relative;
}
.cart_process ul:after{
        content: '';
        position: absolute;
        top:35%;
        display: block;
        background-color:#333 ;
        width:360px;
        height: 2px;
        z-index: -1;
    }

.cart_process-point{
    width: 80px;
    margin: 20px;
    text-align: center;
}

/* =====商品清單===== */

.cart{
    display: flex;
    justify-content: center;
}

.cart_list{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cart_prd{
    background-color: #fff;
    display: flex;
    width: 100%;
    margin-bottom:10px; 
}

.cart_prd_pic{
 
    height: 210px;
    margin: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #b5b5b5;
    flex-basis: 210px;
}

.cart_prd_pic img{
    width: 100%;
}

.cart_prd_info{
    /* border: 1px solid #000; */
    margin: 20px 20px 20px 0;
    width: calc(100% - 250px );
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart_prd_info .fa-times{
    position: absolute;
    font-size: 40px;
    color: #333;
    right: 0;
    top:-4px;
}

.fa-times:hover{
    color: #567C92;
}

.cart_prd_info h5{
    width: calc( 100% - 50px );
}

.cart_prd_text{
    flex-grow: 1;
}

.cart_prd_count{
    align-self: flex-end;
    display: flex;
    align-items: center;
    
}

.cart_card_price{
    /* border: 1px solid #333; */
    flex-grow: 1;
    text-align: end;

}

/* =====結算===== */

.cart_total{
    width: 300px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    position: sticky;
    top:150px
}

.cart_total p{
    margin: 0 5px;
    margin-bottom: 20px;

}

.cart_total .prd_price,.cart_total .prd_nub{
    word-wrap: break-word;
}

.cart_total i{
    margin-right: 10px;
}

.cart_total .a_btn{
    width: 100%;
}

.cart_clear{
    color: #b5b5b5;
    font-size: 12px;
    text-align: center;
    display: none;
}


/* ---------------------- cart end ----------------------- */