@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Roboto:wght@100;400;700&display=swap');

 *{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 18px;
    background-color: #FFF4EA;
    text-decoration: none;
   
}

main{
    overflow: hidden;
}

h1{
    display: block;
    width: 40vw;
    z-index: 0  ;
}

h2{
   /* styleName: H2大標; */
   color: #567C92;
font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 75px;
}

h3{
    /* styleName: H3中標; */
    color: #567C92;
font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 42px;
}

p{    /* //styleName: P內文; */
font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
font-size: 15px;
line-height: 1.6;
font-style: normal;
font-weight: 400;
letter-spacing: 0em;
}

.big_price{
    /* //styleName: card價錢; */
font-family: Amiri;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;

}

.big_prices{
    /* //styleName: 小$; */
font-family: Amiri;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}


.a_btn{
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    color:#567C92;
    background-color: #F0D08E;
    font-weight: 400;
    line-height: 43px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 186px;
    height: 43px;
    margin: 10px 0;
    transition: 1s;
}

.a_btn:hover{
    transition: 1s;
    background-color: #567C92;
    color: #F0D08E;
} 



/*--------------預設結束------------------*/
/* ---------------animetion keyframes--------------- */
@keyframes top_banner{
    0%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}



@keyframes big-x{
    0%{}
    10%{transform: rotate(-35deg);}
    100%{transform: rotate(1080deg);}
}


/*--------------index----------------*/

.concept, .about, .product, .custum, .sercle{
    margin: 0 auto;
}

.top_banner{
    padding-top: 100px;
    max-width: 100%;
    height: 500px;
    background-position: center bottom;
    background-image: url(../img/top_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    animation: top_banner .8s linear backwards;
    opacity: 1;
}

/* .top_banner img{
    width: 30%;
    position: absolute;
    top:40%;
    left:10%;
} */

.top_banner h1{
    display: block;
    width: 40vw;
    padding-top:8vw ;
    padding-left: 13vw;
    z-index: 0  ;
}

.slogan{
    color: #ccc;
    font-family:  Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    line-height: 1.8;
    font-size: 1.5em;
    text-shadow: 0 0 3px rgb(20, 20, 20);
    margin-left: 15%;
    width: 20%;
    min-width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;

}

.concept{
    max-width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.concept::before{
            content: ' ';
            position: fixed;
            height: 1000px;
            z-index: -5;
            
            top: -200px;
            left: 0;
            right: 0;
            /* bottom: 0; */
            background-image: url(../img/concept_bg.jpg),linear-gradient(#fff 0%,#FFF 100%);
            background-position: top 0 left 0;
            background-repeat: no-repeat;
            background-size: auto;
            opacity: 1;
}

.concept .right{
    width: 50%;
    margin-left: auto;
    padding-top: 150px;
    padding-left: 100px;
    box-sizing: border-box;
}

.concept h3{
    padding: 20px 0;
}

.concept img{
    width: 300px;
    position: absolute;
    right: 90px;
    bottom: 50px;
    margin: auto;
}

.about{
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #FFF4EA;
    overflow: hidden;
}

.about img{
    width: 347px;
}

.about .ab_title{
    display: inline-flex;
    align-items: center;
    transform: rotate(90deg) translateX(38%);
    position: absolute;
    top:  0px;
    left: -5%;
}

.about .ab_title span{
    display: block;
    width: 100px;
    height: 1px;
    margin: 10px 0;
    background-color: #567C92;
    
}

.about .ab_title h2{
    margin-left: 2px;
}

/* EROS */
.about .ab_text span{
    font-family: 'Baskerville Old Face';
    font-size: 72px;
    color: black;
    letter-spacing: 3px;
}

.about .ab_text h2{
    margin: 0 20px;
    text-align: center;
    animation: big-x 10s cubic-bezier(.1,.56,.39,1.2);

}

.about .ab_text{
    margin: 50px auto 40px;
    padding-top: 100px;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p{
    margin: 0 auto;
    width: 500px;
    display: block;
}

.product {
    background-color: #fff;
    height: 650px;
    position: relative;
   }

.product .pd_title{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .pd_title h2{
    margin: 0 2px;
}

.product span{
    display: block;
    background-color: #567C92;
    width: 100px;
    height: 1px;
    margin: 0;
}

.product .pd_area{
    width: 1200px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
}

.product ul{
    display: inline-flex;
    text-align: center;
}

.product ul li{
    width: 288px;
    height: 270px;
    background-color: #FFF4EA;
    outline: 1px solid #b5b5b5;
    margin: 10px 20px;
    box-shadow: -6px 8px 0px #FFF,
                -6px 8px 0px 1px #567C92;
    transition: .5s;
    
}

.product ul li:hover{
    transform: scale(1.05) rotate(3deg);
    
    font-weight: 700;
}

.product li a{
   color: #333;
}

.product li:hover a{
    color: #567C92;
    
}

.product p{
    margin: 10px 10px;   
}

.product li img{
    width: 100%;
}

.product .pd_area .btn ,.product .pd_area .a_btn{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fprint{
    width: 300px;
    position: absolute;
    bottom: -100px;
    right: 50px;
    z-index: 2;
    
}

.dot_btn{
    height: 8px;
    width: 8px;
    padding: 0;
    margin: 5px;
    border: 0;
    border-radius: 50%;
    display: none;
}

.dot_btn_b{
    background-color: #567C92;
}

.dot_btn_y{
    background-color: #F0D08E;
}

.custum{
    background-color: #fff;
    max-width: 100%;
    position: relative;
}

.custum span{
    display: block;
    width: 130px;
    height: 1px;
    background-color: #567C92;
}

.custum .cus_title{
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.custum .cus_area{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    
}

.cus_cl{
    margin: 50px 10px 20px;
    width: 200px;
    text-align: center;
    flex-grow: 2;
}

.cus_cl p{
    margin: 20px;
    line-height: 2;
    color: #567C92;
    font-size: 30px;
}

.custum .cus_cl>img{
    width: 100%;
    max-width: 300px;
    margin: 30px 0;
    z-index: 2;
}

.cus_cr{
    background-image: url(../img/custom_img.jpg);
    background-repeat: no-repeat;
    width: 880px;
    z-index: 1;
}

.custum>img:last-child{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -80px;
}

.product .pd_title h2{
    margin: 0 2px;
}

.sercle{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #FFF4EA;

}

.sercle .sercle_service{
    padding-top: 100px;
    width: 600px;
    height: 600px;
    background-image: url(../img/index_ser_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sercle .sercle_clear{
    padding-top: 100px;
    width: 600px;
    height: 600px;
    background-image: url(../img/index_cle_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sercle h3{
    margin: 20px;
}

.sercle p{
    margin: 20px;
}

@media (max-width:1199px) and (min-width:768px){
    .top_banner{
        background-image: url(../img/Top_banner2_sb.jpg);
        background-position: top 20% left 50%;
    }
    .slogan{
        margin-left:5%;
    }

    .concept::before{
        background-image: url(../img/concept_bg.jpg),linear-gradient(#fff 0%,#FFF 100%);
        background-position: top 200px left 0;
        background-size: 100%,100%;
    }

    .about .ab_title{
        top:-12px;
    }
    .about .ab_text{
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .about .ab_text h2{
        margin: 20px auto 30px;
    }
    
    .product{
        height: auto;
    }
    .product .pd_area{
        max-width: 100%;
    }
    .product ul{
        width: 700px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    .product ul li{
        margin: 20px;
    }
    .fprint{
        width: 200px;
    }
    .custum .cus_area{
        width: 100%;
        max-height: auto;
        /* border: 1px solid red; */
    }
    .cus_cl p{
        font-size: 18px;
    }
    .cus_cr{
        width: 70%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    .custum .cus_cl>img{
        margin-bottom: 80px;
    }
    .custum>img:last-child{
        transform: scale(1,2) translateY(-20%);
        /* border: 1px solid #333; */
    }
    .sercle{
        flex-direction: column;
        align-items: center;
    }
    

    h2{
        font-size: 40px;
    }
    h3{
        font-size: 26px;
    }
}
@media (max-width:767.98px){
    .top_banner{
        background-image: url(../img/Top_banner2_sb.jpg);
        background-position: top 20% left 50%;
    }
    .slogan{
        margin-left:10%;
        font-size: 15px;
        min-width: 50px;
    }

    .concept::before{
        background-image: url(../img/concept_bg.jpg),linear-gradient(#fff 0%,#FFF 100%);
        background-position: top 200px left 0;
        background-size: 150%,100%;
    }
    .concept .right{
        padding-left: 10%;
        padding-right: 10%;
    }
    .concept .right img{
        max-width: 30%;
        
    }

    .about .ab_title{
        transform: rotate(0deg) translate(0);
    }
    .about .ab_text{
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .about .ab_text h2{
        margin: 20px auto 30px;
    }
    .about img{
        max-width: 80%;
    }

    /* EROS */
    .about .ab_text span{
        font-size: 46px;
    }
    .about p{
        max-width: 80%;
    }
    
    .product{
        height: auto;
    }
    .product .pd_area{
        max-width: 100%;
    }
    .product ul{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    .product ul li{
        margin: 20px;
    }
    .fprint{
        width: 200px;
        display: none;
    }
    .custum .cus_title{
        transform: translateX(-15%);
        padding-bottom: 0;
 
    }
    .custum .cus_area{
        width: 100%;
        max-height: auto;
        flex-direction: column;
    }
    .cus_cl{
        margin: 0 auto 30PX;
    }
    .cus_cl p{
        font-size: 18px;
    }
    
    .cus_cr{
        width: 80%;
        height: 250px;
        background-image: url(../img/custom_img_sp.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        margin: 0 auto;
        order:-1;
        /* border: 1px solid green; */
    }
    .custum .cus_cl>img{
        margin-bottom: 80px;
        display: none;
    }
    .custum>img:last-child{
        transform: scale(1,2) translateY(-20%);
        border: 1px solid #333;
        display: none;
    }
    .sercle{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .sercle .sercle_service,.sercle .sercle_clear{
        width: 90%;
        height: auto;
        background-size: 100%;
        padding: 20% 0;
        /* border: 1px solid blue; */
    }
    .sercle .sercle_service img,.sercle .sercle_clear img{
        max-width: 70%;
    }
    .sercle h3{
        margin: 5px;
        line-height: 1.2;
        /* border: 1px solid blue; */
    }
    
    .sercle p{
        margin: 5px 20px;
        line-height: 1.2; 
        /* border: 1px solid blue; */
    }
    .sercle a{
        width: 100px;
        margin: 5px;
    }

    h2{
        font-size: 30px;
    }
    h3{
        font-size: 18px;
    }
}

@media (max-width:787.98px ) and ( min-width:512px) {
    .sercle .sercle_service,.sercle .sercle_clear{
        background-size: 90%;
        padding: 15% 0 ;
    }
}

/* --------------index end--------------- */

