@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Roboto:wght@100;400&display=swap');

 *{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 18px;
    background-color: #FFF4EA;
    text-decoration: none;
    min-width: 1200px;
}

main{
}

h1{
    display: block;
    width: 40vw;
    padding-top:8vw ;
    padding-left: 13vw;
    z-index: 0  ;
}

h2{
   /* styleName: H2大標; */
   color: #567C92;
font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 75px;
}

h3{
    /* styleName: H3中標; */
    color: #567C92;
font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 42px;
}

p{    /* //styleName: P內文; */
font-family:Roboto,Arial,'微軟正黑體','Heiti TC';
font-size: 15px;
line-height: 1.2;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}

.big_price{
    /* //styleName: card價錢; */
font-family: Amiri;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;

}

.big_prices{
    /* //styleName: 小$; */
font-family: Amiri;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}


.a_btn{
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    color:#567C92;
    background-color: #F0D08E;
    font-weight: 400;
    line-height: 43px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    width: 186px;
    height: 43px;
    margin: 10px 0;
    transition: 1s;
}

.a_btn:hover{
    transition: 1s;
    background-color: #567C92;
    color: #F0D08E;
} */



/*--------------預設結束------------------*/

/*--------------index----------------*/

.concept, .about, .product, .custum, .footer{
    /* border: 1px solid red; */
    margin: 0 auto;
}

.top_banner{
    /* border: 1px solid red; */
    padding-top: 150px;
    /* margin-top: 150px; */
    max-width: 100%;
    height: 500px;
    background-position: left bottom;
    background-image: url(../img/top_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* .top_banner img{
    width: 30%;
    position: absolute;
    top:40%;
    left:10%;
} */

.slogan{
    display:inline-block;
    color: #333;
    font-family:  Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    line-height: 1.8;
    font-size: 20px;
    text-shadow: 0 2px 10px #FFF;
    margin-left: 10%;
}

.concept{
    max-width: 100%;
    height: 650px;
    /* background-image: url(../img/concept_bg.jpg),url(../img/concept_bg650.jpg);
    background-repeat: no-repeat;
    background-position: top -150px left 0,top 0px left 0px; */
    /* background-color: #fff; */
    /* background-attachment:fixed,local; */
    position: relative;
}

.concept::before{
            content: ' ';
            position: fixed;
            z-index: -5;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url(../img/concept_bg.jpg);
            background-position: top 0 left ;
            background-repeat: no-repeat;
            background-size: cover;
}

.concept .right{
    width: 50%;
    margin-left: auto;
    padding-top: 150px;
    padding-left: 100px;
    box-sizing: border-box;
}

.concept h3{
    padding: 20px 0;
}

.concept img{
    width: 300px;
    position: absolute;
    right: 90px;
    bottom: 50px;
    margin: auto;
}

.about{
    height: 500px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    background-color: #FFF4EA;
}

.about img{
    width: 347px;
}



.about .ab_title{
    display: inline-flex;
    align-items: center;
    transform: rotate(90deg) translateX(38%);
    position: absolute;
    top:  0px;
    left: -5%;
}

.about .ab_title span{
    display: block;
    width: 100px;
    height: 1px;
    margin: 10px 0;
    background-color: #567C92;
    
}

.about .ab_title h2{
    margin-left: 2px;
}

/* EROS */
.about .ab_text span{
    font-family: 'Baskerville Old Face';
    font-size: 72px;
    color: black;
    letter-spacing: 3px;
}

.about .ab_text h2{
    margin: 0 20px;
    text-align: center;
}

.about .ab_text{
    /* border: 5px solid #000; */
    margin: 50px auto 40px;
    padding-top: 100px;
    width: 800px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.about p{
    margin: 0 auto;
    width: 500px;
    display: block;
}

.product {
    background-color: #fff;
    /* border: 1px solid #333; */
    height: 600px;
    position: relative;
   }

.product .pd_title{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product .pd_title h2{
    margin: 0 2px;
}

.product span{
    display: block;
    background-color: #567C92;
    width: 100px;
    height: 1px;
    margin: 0;
}

.product .pd_area{
    width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.product ul{
    display: inline-flex;
    text-align: center;
}

.product ul li{
    width: 288px;
    height: 260px;
    background-color: #FFF4EA;
    outline: 1px solid #b5b5b5;
    margin: 8px;
    box-shadow: -6px 8px 0px #FFF,
                -6px 8px 0px 1px #567C92;
    
}

.product ul li:hover{
    transform: scale(1.1);
    transition: 1s;
}

.product li a{
   color: #333;
}

.product li a:hover{
    color: #567C92;
    
}

.product p{
    margin: 10px;

}

.product li img{
    max-width: 100%;
}

.product .pd_area .btn ,.product .pd_area .a_btn{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fprint{
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: -100px;
    right: 50px;
    z-index: 1;
    
}

.dot_btn{
    height: 8px;
    width: 8px;
    padding: 0;
    margin: 5px;
    border: 0;
    border-radius: 50%;
}

.dot_btn_b{
    background-color: #567C92;
}

.dot_btn_y{
    background-color: #F0D08E;
}

.custum{
    margin: 0 auto;
    background-color: #fff;
    max-width: 100%;
    position: relative;
}

.custum span{
    display: block;
    width: 130px;
    height: 1px;
    background-color: #567C92;
}

.custum .cus_title{
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.custum .cus_area{
    /* border: 1px solid blue; */
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    
}

.cus_cl{
    margin: 50px 10px 20px;
    width: 200px;
    text-align: center;
    flex-grow: 1;
}

.cus_cl p{
    margin: 20px;
    line-height: 2;
    color: #567C92;
    font-size: 30px;
}

.custum .cus_cl>img{
    width: 100%;
    margin-top: 30px;

}

.cus_cr{
    background-image: url(../img/custom_img.jpg);
    height: 690px;
    width: 880px;
}

.custum>img:last-child{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -80px;
    z-index: -1;
}

.product .pd_title h2{
    margin: 0 2px;
}

.sercle{
    width: 1200px;
    display: flex;
    margin: 100px auto 0;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.sercle .sercle_service{
    padding-top: 100px;
    width: 600px;
    height: 600px;
    background-image: url(../img/index_ser_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sercle .sercle_clear{
    padding-top: 100px;
    width: 600px;
    height: 600px;
    background-image: url(../img/index_cle_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.sercle h3{
    margin: 20px;
}

.sercle p{
    margin: 20px;
}

/* --------------index end--------------- */





/* --------------copyright--------------- */
.this_site{
    width: 800px;
    margin: 0 auto;
}

.this_site .main{
    margin-bottom: 100px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.title span{
    display: block;
    background-color: #567C92;
    width: 100px;
    height: 1px;
    margin: 0 2px;
}

.site1{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.site_l{
    width: 400px;
    }

.site_r{
    display: block;
    width: 800px;
    margin: 10px 0;
}

.site1 iframe{
    width: 340px;
}

.site{
    margin: 20px;
}

/* --------------copyright end--------------- */

/* ----------------contact------------------ */

.contact{
    display: flex;
    justify-content: center;
}

.con_form{
    width: 50%;
    /* border:1px solid #567C92; */
}

.con_form_title{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.con_form_title>div{
    flex-grow: 2;
    text-align: right;
}

.con_form_title span{
    display: inline-block;
    background-color: #567C92;
    height: 1px;
    min-width: 100px;
    width: 75%;
    margin-right: 2px;
}

.con_form_title h3{
    flex-grow: 0;
    flex-basis: 450px;
}

.con_form p{
    font-size: 18px;
}

/* =====表單===== */

form{
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
}

.name,.email,.phone_number,.issue{
    font-family: Roboto,Arial,'微軟正黑體','Heiti TC';
    font-weight: 400;
    height: 40px;
    width: 500px;
    border: 1px solid #567C92;
    background-color: #FFF4EA;
    font-size: 15px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 20px;
    outline: 0;
}

.comments{
    width: 500px;
    max-width: 500px;
    min-height: 100px;
    border: 1px solid #567C92;
    background-color: #FFF4EA;
    font-size: 15px;
    padding: 2px 5px;
    margin-top: 3px;
    margin-bottom: 20px;
    outline: 0;
}

.submit{
    width: 500px;
    height: 40px;
    font-size: 18px;
    color: #F0D08E;
    border: 1px solid #567C92;
    background-color: #567C92;
    outline: 0;
}

.submit:hover{
    background-color:#F0D08E;
    color:#567C92;
}

.submit:active{
    box-shadow: inset 2px 2px 1px RGBA(51,51,51,.5);
}

/* =====表單end===== */

.map{
    width: 50%;
    margin-left: 50px;
}

.map_title{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0;
}

.map h3{
    text-align: right;
    flex-basis: 285px;
}

.map_title>div{
    flex-grow: 1;
}

.map_title span{
    display: inline-block;
    background-color: #567C92;
    height: 1px;
    min-width: 100px;
    width: 80%;
}

.map iframe{
    width: 500px;
    height: 300px;
    margin-bottom: 30px;
}

.map p{
    display: block;
    margin-bottom: 15px;
    width: 500px;
    line-height: 1.6;
}

.map i{
    font-size: 20px;
    margin-right: 5px;
}

/* ----------------contact end------------------ */

/* ----------------service---------------- */

.ser_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ser_title span{
    display: block;
    width: 100px;
    height: 1px;
    background-color: #567C92;
    margin: 50px 2px;
}

.service{
    margin: 50px auto;
    width: 800px;
    list-style: decimal;

}

.ser-ol{
    list-style:lower-alpha;
    margin-left: 30px;
}

.service>li{
    line-height: 1.6;
    margin: 10px;
}

/* ----------------service end---------------- */

/* ---------------- about us ---------------- */

.abo_title{
    height: 300px;
    display: flex;
    align-items: center;
    margin: 50px 0 100px;
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.abo_title span{
    display: block;
    background-color: #567C92;
    width: 15%;
    height: 1px;
    margin-right: 2px;
}

.abo_area01,.abo_area02,.abo_area03{
    margin: 50px auto;
    width: 80%;
    display: flex;
}

.abo_area_t{
    width: 40%;
    text-align: center;
    margin: 50px;
}

.abo_area_t h3{
    margin: 30px;
}

.abo_area_t p{
    text-align: left;
    margin: 30px;
}

.abo_area01 img{
    width: 50%;
}

.abo_area02 img{
    width: 50%;
    order: -1;
}

.abo_area03 img{
    width: 50%;
    float: right;
}

/* ----------------- */
.abo_title2{
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.abo_title2 span{
    display: block;
    background-color: #567C92;
    width: 15%;
    height: 1px;
    margin-right: 2px;
}

.abo_eros{
    text-align: center;
    position: relative;
}

.abo_eros p{
    line-height: 4;
}

.abo_hat{
    max-width: 40%;
}

.goblin01{
    max-width: 15%;
    position: absolute;
    top: -7%;
    right:  24%;
    transition: .5s;
    opacity: 1;
}

.goblin02{
    max-width: 30%;
    position: absolute;
    top: 30%;
    right: 5%;
    transition: .5s;
    opacity: 1;
}

.goblin03{
    max-width: 15%;
    position: absolute;
    top:15%;
    left: 15%;
    transition: .5s;
    opacity: 1;
}

.goblin01:hover,.goblin02:hover,.goblin03:hover{
    transition: .5s;
    opacity: 0;
}

.goblin{
    width: 300px;
    text-align: left;
    margin: 50px 0;
    color: #b5b5b5;
    opacity: 1;
    transition: 1s;
}

.goblin:hover{
    transition: 1s;
    transform: translateX(-200%) ;
    opacity: 0;
}

.goblin p{
    line-height: 1.6;
    margin-left: 20px;
}

/* ----------------about us end---------------- */
